
@{
    ViewData["Title"] = "Accesdenied";
}

<div class="text-center">
    <h1 class="text-danger">Acces Denied</h1>
    <img style="height:400px; width:500px;" src="/Admin/assets/img/img1757617.jpg"/>
</div>

