@model TaskWebUI.Models.Entity.Social

@{
    ViewData["Title"] = "Edit";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div style="">

                    <h4>Social</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit" method="post" class="adminform">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Link" class="control-label"></label>
                                    <input asp-for="Link" class="form-control" />
                                    <span asp-validation-for="Link" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Logo" class="control-label"></label>
                                    <input asp-for="Logo" class="form-control" />
                                    <span asp-validation-for="Logo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Index" class="btn btn-default adminform" style="margin-bottom:30px">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

